@import url('https://fonts.googleapis.com/css?family=Lato');

@import 'colours';
.box {
    position: relative;
    margin: 20px;
    height: 285px;
    width: 285px;
    background-color: #ccc;
    float: left;
    &:hover {
	> div.detail {
	    background-color: @yellow;
	    color: @red;
	    display: block;
	}
    }
    > div.detail {
	display: none;
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	> div.inner {
	    padding: 10px;
			> div.add_to_cart~input~.paypal_btn{
			display: inline-block;
			height:30px;
			width:100px;
			font-family: 'Lato', inherit;
			font-size: 1em;
			font-weight: bold;
			color: #a40000;
			text-align: center;
			margin: 0;
			background: #fff;
			border: 2px solid #a40000;
			cursor: pointer;
			outline: none;
			}

			> div.add_to_cart~input~.paypal_btn:hover{
				background: #a40000;
				color:#fff;
				font-family: 'Lato', inherit;
				border: 2px solid #fff;
			}
	    > div.add_to_cart {
		// margin: auto;
		// height: 150px;
		// width: 150px;
		// border-radius: 75px;
		// background-color: rgb(255, 255, 255);
		> img {
		    height: 75px;
		    margin: auto;
		}
	    }
	}
    }
    > img.cover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
    }


}
