@import 'reset';
@import 'layout';
@import 'release';
@import 'colours';


html, body {
    max-width: 1300px;
    margin: 0 auto;
}

.main{
    margin:1%;
    margin: 0 auto;
}

.inner-wrapper{
    border: 2px solid orange;
}

h1{
    text-align: center;
    color:@red;
}


h1, h2, h3 {
    text-transform: uppercase;
}
